.button1 {
  background-color: #4267b2;
  color: white;
  padding: 10px;
  border-width: 1px;
  border-radius: 7%;
  font-weight: 600;
}

.button2 {
  padding: 10px;
  background-color: aliceblue;
  color: gray;
  border-width: 1px;
  border-radius: 7%;
  font-weight: 800;
}

.button3 {
  background-color: #FF4500;
  color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  filter: drop-shadow(-4px 8px 0px rgb(127, 37, 2))

}

.button4 {
  border-radius: 50%;
  padding: 50px;
  background-color: yellow;
  border-right-width: black ;
  border-color: yellow;
  color: white;
  font-weight: 1000;
  font-size: small;
  width: 50px;
  height: 50px;
}
