* {
  text-decoration: none;
  list-style: none;
  color: white;
  margin: 0px;
  padding: 0px;
}


body {
  font-family: Neue, Helvetica, Arial, sans-serif;
}
.one li {
  background-color: #4d7298;
  border-radius: 5%;
  padding: 20px;
}
.one {
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
  margin-top: 16px;
}
.two {
  display: flex;
  border: 2px solid #4d8f98;
}
.two li {
  background-color: #4d7298;
  align-items: flex-start;
  border: 2px solid #4d8f98;
  width: 80%;
  border-radius: 5px;
  margin: 50px 0;

  justify-content: center;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4d8f98;
  height: 190px;
  border-radius: 5px;
}

.child {
  color: white;
  background-color: #4d7298;

  padding: 20px;
  border-radius: 5px;
}
.four {
  display: flex;
  flex-wrap: wrap;
}
.four li {
  background-color: #4d7298;
  margin: 28px;
  padding: 20px;
  border-radius: 7px;
}